em {
  background: cyan;
  font-style: normal;
}

.header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to right, #8e43e7, #00aeff);
  color: #fff;
  margin-bottom: 1rem;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header-title {
  font-size: 1.2rem;
  font-weight: normal;
}

.header-subtitle {
  font-size: 1.2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.search-panel {
  display: flex;
}

.search-panel__filters {
  flex: 1;
}

.search-panel__results {
  flex: 3;
}

.searchbox {
  margin-bottom: 2rem;
  margin-right: 1rem;
  flex-basis: 100%;
}

.pagination {
  margin: 2rem auto;
  text-align: center;
}

.currency-dropdown {
  flex: 50px;
}

.dropdown {
  padding: .3rem 1.7rem;
  background-color: #fff;
  border: 1px solid #c4c8d8;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .ais-Hits-item {
    width: calc(50% - 1rem);
  }
}